<section class="contact-section">
    <div class="container">
      <h2 class="section-title">Contact Me</h2>
      
      <!-- Avatar Section -->
      <div class="avatar-container">
        <img src="assets/mine-avatar.png" alt="Profile Avatar" class="avatar">
      </div>
      
      <p>Email: mo.faizansopariwala2901&#64;gmail.com</p>
      <p>Phone: +91 9727679753</p>
      
      <a href="mailto:mo.faizansopariwala2901@gmail.com" class="btn-github">Send an Email</a>
    </div>
  </section>
  