<section class="projects-section">
    <div class="container">
      <h2 class="section-title">My Projects</h2>
  
      <!-- QuizApp -->
      <div class="project-card">
        <h3 class="project-title">QuizApp</h3>
        <p class="project-time">March 2025</p>
        <p class="project-description">
          Developed a Full stack Quiz application with **Angular, Typescript, Spring Boot microservices**, **Eureka for service registration**, and **OpenFeign for inter-service communication**.
        </p>
        <p class="project-tech"><strong>Tech Stack:</strong> Angular, Typescript, Spring Boot, Microservices, Eureka, OpenFeign</p>
        <a href="https://github.com/Faizan2901/quiz-full-stack-app" class="btn btn-github" target="_blank">View on GitHub</a>
      </div>

      <!-- Kindergarten Management System -->
      <div class="project-card">
        <h3 class="project-title">Kindergarten Management Website</h3>
        <p class="project-time">Febaury 2025</p>
        <p class="project-description">
          Designed a microservices-based Kindergarten Management System using **Spring Boot**, enhancing scalability and security with **JWT-based authentication & role-based access control**.
        </p>
        <p class="project-tech"><strong>Tech Stack:</strong> Spring Boot, Spring Security, JWT, Thymeleaf, REST APIs</p>
        <a href="https://github.com/Faizan2901/nmpc-services" class="btn btn-github" target="_blank">View on GitHub</a>
      </div>
  
      
    </div>
  </section>
  